[package]
name = "libbro"
version = "0.1.0"
edition = "2024"
license = "MIT"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
sha2 = { version = "0.10.8" }
wasm-bindgen = { version = "0.2.100" }

[profile.release]
lto = "fat"
codegen-units = 1
strip = "symbols"
panic = "abort"
